# Dependencies
**/node_modules/
node_modules/

# Production builds
**/dist/
dist/
**/build/
build/

# Environment variables & secrets
**/.env
.env
**/.env.*
.env.*
!.env.example
!**/.env.example

# Logs
**/logs/
logs/
*.log
npm-debug.log*
yarn-debug.log*

# Certificates & Secrets
**/certs/
certs/
*.pem
*.crt
*.key

# OS & IDE metadata
.DS_Store
Thumbs.db
.vscode/
.idea/
